/* Google Font */
* {
  font-family: 'M PLUS 1p', sans-serif;
}

/* Scroll Reveal CSS */
html.sr .load-hidden {
  visibility: hidden;
}

/* Navbar */
.nav-bar {
  background-color: rgb(188, 143, 143)!important;
}

/* Jumbotron CSS */
.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

/* .jumbotron .container {
  max-width: 40rem;
} */

/* Portfolio */

.diagonal-box {
  background-color: seashell;
  transform: skewY(-3deg);
} 

.diagonal-box-white {
  background-color: white;
  transform: skewY(-3deg);
}

.content { 	
	max-width: 75em;
  margin: 0 auto; 
  transform: skewY(3deg);
}

/* Header */
h2.album-left {
  margin-bottom: 75px;
}

/* Cards */
.card-title {
  text-align: center;
}

.btn-group {
  justify-content: center;
}
/* Footer CSS */

footer {
  margin-top: 100px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer p {
  margin-bottom: .25rem;
}
